body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.nav{
	height: 111px;
	width: 100%;
	background: white;
}

.top-nav button{
	padding: 10px;
    float: left;
    width: 15%;
    cursor:pointer; 
}

.top-nav {
    margin-left: 23%;
}

.top-nav i {
    font-size: 11px;
    color: #ff3102;
}

.nav img {
    position: absolute;
    height: 18%;
}

.nav .pic2{
	left: 12.5%;
}

.main-menu {
    position: absolute;
    top: 13%;
    left: 20%; 
    font-size: 1.1em;
}

.cabdate{
	height: 40px;
	width: 120px;
	float: left;
	outline: none;
	text-decoration: none;
	border: 1px solid green;
	cursor: pointer;
}

.main-menu a{
    margin: 0px 40px;
    font-weight: bold;
    text-decoration: none;
    color: #4a4d51;
}

.container {
    position: relative;
    height: 530px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-width: 2px 0px;
	border-style: solid;
	border-color: red;
}

.flight{
	background-image: url(../Images/flight.jpg);
}

.hotel{
	background-image: url(../Images/hotel.jpg);
}

.bus{
	background-image: url(../Images/bus.jpg);
}

.holiday{
	background-image: url(../Images/holiday.jpg);
}

.bike{
	background-image: url(../Images/bike.jpg);
}

.cab{
	background-image: url(../Images/CABS.jpg);
}

.text1{
	position: absolute;
	top: 2%;
	left: 5%;
	font-size: 2.5em;
	color: white;
	font-weight: bold; 
}

.buttons{
	position: absolute;
	top: 10%;
	left: 35%;
}


.text2{
	position: absolute;
	background-color: white;
	top: 20%;
	bottom: 15%;
	left: 5%;
	width: 49%;
	border: 1px solid green;
	position: absolute;
	border-radius: 3px;
}

.b1, .b2{
    font-size: 22px;
    padding: 14.2px;
    float: left;
    background-color: white;
    border: 0.5px solid green;
    outline: none;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

.active{
	background-color: #12B58A;
	color: white;
}

.from, .departure{
	width: 50%;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.destination{
	width: 100%;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.departure{
	margin-left: 27px;
}

.to, .return{
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

.text2 p{
margin: 0;
padding-left: 16px;
}

.text2 input{
	width: 250px;
	height: 30px;
	border-radius: 3px;
	outline: none;
	border: 1px solid #cedbd5;
	padding: 3px 3px 3px 25px;
	margin-top: 5px;
}

.text2 input[type="checkbox"]{
	width: 12px;
	height: 12px;
	outline: none;
	font-size: 13px;
}


select{
	width: 281px;
	height: 30px;
	border-radius: 3px;
	outline: none;
	border: 1px solid #cedbd5;
	padding: 3px 3px 3px 25px;
	margin-top: 5px;
}

.bikes{
	width: 100px;
	height: 30px;
	border-radius: 3px;
	outline: none;
	border: 1px solid #cedbd5;
	padding: 3px 3px 3px 25px;
	margin-top: 5px;
}

.number{
	margin-top: 153px;
    margin-left: 28px;
}


.select-first{
	margin-left: 18px;
}

.destination input{
	width: 90%;
}

.text2 i{
	position: relative;
	left: 8%;
	opacity: 0.5;
	top: 2px;
}

.destination i{
	position: relative;
	left: 4%;
	opacity: 0.5;
	top: 2px;
}

.adult {
    width: 24.3%;
    display: inline-block;
    font-weight: 600;
    margin: 26px 0 0 40px;
}

label {
    display: block;
    font-weight: 400;
    font-size: 12px;
}

label span {
    font-weight: 300;
    padding-left: 5px;
}

.adult > div {
    width: 105.5%;
    border: 1px solid #bcc8d1;
    margin-top: 6px;
    border-radius: 4px;
}

.minus {
    border-right: 1px solid #bcc8d1;
    cursor: pointer;
    color: #12B58A;
    height: 30px;
    position: relative;
}

.adult div div {
    display: inline-block;
    width: 31.3%;
    text-align: center;
    vertical-align: middle;
}

.plus {
    border-left: 1px solid #bcc8d1;
    cursor: pointer;
    color: #12B58A;
    height: 30px;
    position: relative;
}

.search{
	font-weight: bold;
    background-color: #b70303;
    outline: none;
    border: none;
    font-size: 17px;
    color: white;
    border-radius: 30px;
    float: right;
    margin: 23px 25px 0px 0px;
    padding: 13px;
    cursor: pointer;
}

.footer{
	background-color: #dee3ea;
    font-size: 16px;
    padding: 25px 0px;
    margin: auto;
}

.points{
	display: table-cell;
    margin-right: 30px;
    vertical-align: top;
    padding:0 82px;
}

.clear{
	clear: both;
}

.points div{
	display: inline-block;
	font-size: 20px;
}

.points i{
	font-size: 45px;
	margin-right: 10px;
}

.bold{
	font-size: 25px;
}

.note{
margin-left: 10px;
font-size: 12px;
margin-top: 20px;
}

.fa-question-circle{
	    color: red;
    font-size: 45px;
    margin-left: 180px;
    margin-top: 25px;
    cursor: pointer;
}

hr{
	border: 1px solid red;
	width: 100%;
	margin: 0;
 }

 .header{
 	background-color: #707070;
 	height: 75px;
 	width: 100%;
 	display: flex;
 }

 .row{
 	align-self: center;
 	padding: 13px 60px;
 	color: #fcfcfc;
 }

 .n-hdr{
 	    display: flex;
    padding: 7px 0;
    justify-content: space-evenly;
    color: #fcfcfc;
    margin-top: 6px;
 }

 .modify{
 	    height: 37px;
    border-radius: 12px;
    outline: none;
    border: none;
    width: 99px;
    font-size: 18px;
    background-color: #5fef86;
    cursor: pointer;
    }

    .modify:hover{
    	background-color: #24c421;
    	
    }
.filter{
	    display: flex;
    justify-content: space-around;
    width: 85%;
    padding: 8px 0;
}

th{
	background-color: #8d929b;
	height: 30px;

	
}

td{
	background-color: white;
	height: 100px;
    align-items: center;
}

.col{
	text-align: center;
	font-weight: bold;
	font-size: 17px;
}

table{
	width: 100%;
	/*border-collapse: collapse;*/
	border-spacing: 0px 8px;
}

.rupees{
	font-size: 25px;
	color: red;
}

.refund{
	font-size: 12px;
}

.book button{
width: 105px;
    height: 45px;
    font-size: 18px;
    outline: none;
    border: none;
    background-color: #d11212;
    border-radius: 17px;
    color: white;
    font-weight: bold;
}

.book button:hover{
	background-color: red;
}

.f-details a{
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
}

.menu:hover{
	color: red;
	border-bottom: 4px solid red;
	transition: 0.3s;
}



